* ⁠{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
h1 h2 h3 h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
body{
  font-family: "Lato", sans-serif;
  font-style: normal;
  background-image: url(https://image.freepik.com/foto-gratis/detalle-textura-tela-color-marron-claro-fondo_1373-1249.jpg);
  width: 100%;
  height: 100%;
  margin: 0px;

  
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF3E0;
    height: 100%;
    width: 100%;
   
}

.navBar a{
    text-decoration: none;
    color: #ff5133;
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.navBarA:hover{
  font-weight: bolder;
  border: solid 2px rgba(255, 60, 60, 0.2);
  background-color: rgba(255, 60, 60, 0.2);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4.5px rgba(0, 0, 0, 0.2);

}

.logo{
  height: 90px;
  border-radius: 50%;
  margin: 15px;
}

footer{
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-align: center;
  padding: 10px;
  bottom: 0;
  background-color: #FFF3E0;
}

.navLi{
    list-style-type: none;
    margin: 0 60px;
}
.navUl{
    display: flex;

}

.inputBuscador:focus {
  border-color: #FF4500;
  box-shadow: 0 0 10px rgba(255, 99, 71, 0.5);
}
.inputBuscador{
  border-radius: 8px;
  border: solid 2px #ff5133;;
  padding: 8px;
  width: 160px;
  margin-top: 10px;
  
}

.search-button{
    border: none; 
    background: none;
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 10px;

}

.search-button:hover{
  font-weight: bolder;
  border: solid 2px rgba(255, 60, 60, 0.2);
  background-color: rgba(255, 60, 60, 0.2);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4.5px rgba(0, 0, 0, 0.2);

}
.hover-image{
  display: none;
  width: 30px;
}


.nombre:hover .hover-image {
  display: block;
}

.nombre:hover{
  font-weight: bold;
}

.input{
  max-width: 95%;
}
.nombres{
  display: flex;
  justify-content: space-between;
  margin: 0 35%;
  color: #ff5133;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  padding: 20px;
  width: 320px;
  background-color: rgba(255, 60, 60, 0.544);
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.507);

}

.input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.label {
  margin-bottom: 5px;
}

.checkbox {
  margin-right: 5px;
}


.iniciarSesion, .crearCuenta, .registrarse{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 60, 60, 0.53);
  color: white;
  border: none;
  border-radius: 8px;
  text-align: center;
}

.iniciarSesion:hover, .crearCuenta:hover, .registrarse:hover {
  background-color: rgba(255, 60, 60, 0.735);
  font-weight: bolder;

}
 
 /* FETCH */
 .recipes-list{
  border: 2px solid black;
  margin-top: 30px;

 }

 .articles-recetas {
  width: 40%;
  border: dotted;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  border-color:  rgba(255, 60, 60, 0);
 }

 .articles-recetas img{
  width: 80%;
  border-radius: 50%;
 }

 .articles-recetas img:hover{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
 }

.articles-recetas p{
  font-size: 20px;
}
.bodyRegisterLogin{
  height: 100%;
  margin: 0;
}

.errorRegisterMail, .errorRegisterContraseña {
  display: none;
  color: red;
}

.noTengoCuenta{
  text-decoration: none;
  margin-top: 10px;
}

.noTengoCuenta:hover{
  text-decoration: underline;
}